<% if @wiki && @wiki.sidebar -%>
  <%= textilizable @wiki.sidebar.content, :text %>
<% end -%>

<h3><%= l(:label_wiki) %></h3>
<ul>
  <li><%= link_to(l(:field_start_page), {:action => 'show', :id => nil}) %></li>
  <li><%= link_to(l(:label_index_by_title), {:action => 'index'}) %></li>
  <li><%= link_to(l(:label_index_by_date),
                  {:controller => 'wiki', :project_id => @project,
                   :action => 'date_index'}) %></li>

  <% if @page %>
  <li><%= link_to l(:wiki_links_from_here),    {:controller => "wiki_links", :action => "links_from", :project_id => @project, :page_id => @page.title } %></li>
  <li><%= link_to l(:wiki_links_to_here),      {:controller => "wiki_links", :action => "links_to", :project_id => @project, :page_id => @page.title } %></li>
  <% end %>
  <li><%= link_to l(:wiki_links_orphan_pages), {:controller => "wiki_links", :action => "orphan", :project_id => @project } %></li>
  <li><%= link_to l(:wiki_links_wanted_pages), {:controller => "wiki_links", :action => "wanted", :project_id => @project } %></li>

</ul>
